.navBackground{
  background: #FFF;
}
.navContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: auto;
	width: min(1280px, calc(100% - (40px * 2)));
}

.buttonInicio{
  border: 1px solid #dedede;
  padding: 10px 20px;
  border-radius: 10px;
  color: #FFF;
  background: #dedede;
  transition: all .3s ease-in-out;
}

.buttonInicio:hover{
  background: #dedede;
  color: #FFF;
}

.buttonProducts{
  border: 1px solid #dedede;
  padding: 5px 20px;
  border-radius: 10px;
  transition: all .3s ease-in-out;
  color: gray;
}

.buttonProducts:hover{
  background: #dedede;
  color: #000;
}

.containerLogoAndSearch{
  display: flex;
  gap: 30px;
}

.logo{
  width: 120px
}

@media only screen and (max-width: 1025px) {
	.navContainer {
		width: calc(100% - (10px * 2));
	}

  .buttonProducts{
    font-size: 12px;
  }
}

@media only screen and (max-width: 639px) {
  .buttonProducts{
    display: none;
  }
  .logo{
    width: 80px
  }
  
  .containerLogoAndSearch{
    gap: 10px; 
  }
}